* {
    margin: 0;
    padding: 0;
}
#fieald {
    width: 100vw;
    height: 100vh;
    background-color: orange;
}
#square {
    transition: 0.5s;
    height: 50px;
    width: 50px;
    background-color: darkblue;
    position: absolute;
}